/**
 * Colors:
 * BG:               #282C34
 * Primary:          #61DAFB
 * Analogous Right:  #618DFB
 * Complement:       #FB8261
 */

:root {
    /* Colors */
    --color-bg: rgb(40, 44, 52);

    --color-primary-hue: 193;
    --color-primary-sat: 95%;
    --color-primary-lit: 68%;
    --color-primary: hsl(
        var(--color-primary-hue),
        var(--color-primary-sat),
        var(--color-primary-lit)
    );
    --color-primary-hover: hsl(
        var(--color-primary-hue),
        var(--color-primary-sat),
        72%
    );
    --color-primary-focus: hsl(
        var(--color-primary-hue),
        var(--color-primary-sat),
        64%
    );

    --color-analogous-hue: 223;
    --color-analogous-sat: 95%;
    --color-analogous-lit: 68%;
    --color-analogous: hsl(
        var(--color-analogous-hue),
        var(--color-analogous-sat),
        var(--color-analogous-lit)
    );
    --color-analogous-hover: hsl(
        var(--color-analogous-hue),
        var(--color-analogous-sat),
        72%
    );
    --color-analogous-focus: hsl(
        var(--color-analogous-hue),
        var(--color-analogous-sat),
        64%
    );

    --color-complement: hsl(13, 95%, 68%);

    --color-text: hsl(220, 13%, 97%);
    --color-text-dark: hsl(220, 13%, 7%);

    /* Text Sizing */
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;
    --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
    --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
    --text-md: calc(
        var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
    );
    --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
    --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));

    /* Space */
    --space-unit: 1em;
    --space-xxxxs: calc(0.125 * var(--space-unit));
    --space-xxxs: calc(0.25 * var(--space-unit));
    --space-xxs: calc(0.375 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
    --space-xxxl: calc(8.5 * var(--space-unit));
    --space-xxxxl: calc(13.75 * var(--space-unit));
}

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");

body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: var(--text-base-size);
    line-height: calc(var(--space-unit) * 1.5);
    background: var(--color-bg);
    color: var(--color-text);
}

/* Containers */
.container {
    position: relative;
    width: 100%;
    max-width: 80rem;
    margin: var(--space-xl) auto;
    padding: 0 var(--space-xl);
    box-sizing: border-box;
}
.container-full {
    position: relative;
    width: 100%;
    margin: var(--space-xl) auto;
    padding: 0 var(--space-xl);
    box-sizing: border-box;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    letter-spacing: -0.1rem;
    margin-bottom: var(--space-xs);
}
h1 {
    font-size: var(--text-xxxxl);
    line-height: 1.125;
}
h2 {
    font-size: var(--text-xxxl);
    line-height: 1.13;
}
h3 {
    font-size: var(--text-xxl);
    line-height: 1.135;
}
h4 {
    font-size: var(--text-xl);
    line-height: 1.14;
}
h5 {
    font-size: var(--text-lg);
    line-height: 1.15;
}
h6 {
    font-size: var(--text-md);
    line-height: 1.2;
}
p {
    font-size: var(--text-base-size);
}
a {
    text-decoration: none;
}

/* Button */
button {
    padding: var(--space-sm) var(--space-md);
    font-size: var(--text-md);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: var(--color-primary);
    background: linear-gradient(
        to bottom right,
        var(--color-primary),
        var(--color-analogous)
    );
    color: var(--color-text-dark);
    border: none;
    box-sizing: border-box;
    border-radius: 2rem;
}
button:hover {
    background: var(--color-primary-hover);
    background: linear-gradient(
        to bottom right,
        var(--color-primary-hover),
        var(--color-analogous-hover)
    );
}
button:focus {
    background: var(--color-primary-focus);
    background: linear-gradient(
        to bottom right,
        var(--color-primary-focus),
        var(--color-analogous-focus)
    );
}

/* Utilities */
.u-full-width {
    width: 100%;
}
.u-float-left {
    float: left;
}
.u-float-right {
    float: right;
}
.u-p0 {
    padding: 0;
}
.u-p1 {
    padding: var(--space-unit);
}
.u-p2 {
    padding: var(--space-md);
}
.u-p3 {
    padding: var(--space-lg);
}
.u-p4 {
    padding: var(--space-xxl);
}
.u-p5 {
    padding: var(--space-xxxxl);
}
hr {
    border-width: 0;
    border-top: var(--space-xxxxs) solid var(--color-primary);
    margin: var(--space-xl) 0;
}
